/***
 Project Name: UltraForm
 Project URI: http://wp.alithemes.com/html/ultraform/demos
 Description: UltraForm - Bootstrap 5 Multi-Purpose Form Templates
 Author: alithemes.com
 Author URI: http://alithemes.com
 Version: 1.0
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
***/

/* Import third party CSS library */
@import url(vendor/bootstrap.min.css);
@import url(vendor/daterangepicker.css);
@import url(vendor/fontawesome-all.css);

/*Google fonts
	font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root{
	--color-brand:#fff;
	--color-brand-muted:rgba(255,87,51);
	--color-link:#FF5733;
	--color-link-hover:#FF5733;
	--color-text:#fff;
	--color-dark:#101010;
	--color-placeholder:#9C9B9B;
	--font-body:'Poppins',sans-serif;
	--font-heading:'Poppins',sans-serif;
}

body{
	font-family:var(--font-heading);
	background:var(--color-brand);
	color:var(--color-text);
	font-size:14px;
}
p,
h1,
h2,
h3{
	font-family:var(--font-heading);
	font-weight:300;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 25px;
	/*color:var(--color-dark);*/
}
h5,
h6{
	font-family:var(--font-heading);
	font-weight:300;
	padding-bottom: 20px;
	/*color:var(--color-dark);*/
}
h4{
	font-family:var(--font-heading);
	font-weight:lighter;
	padding-top: 10px;
	/*color:var(--color-dark);*/
}
a{color:var(--color-link)}
a:hover{color:var(--color-link-hover)}
*{transition-duration:0.2s;}
::placeholder{color:var(--color-placeholder)!important;opacity:1;}
:-ms-input-placeholder{color:var(--color-placeholder)!important;}
::-ms-input-placeholder{color:var(--color-placeholder)!important;}
.font-md{font-size:0.875em;}
.form-cover{margin:0 auto;}
.form-cover-login{max-width:850px;}
.card{background:#fff;border-radius:20px;width:100%;display:table;overflow:hidden;border:0;min-height:600px;}
.card-heading{width:50%;display:table-cell;}
.card-heading.login{background:url("../imgs/login-1.png") center left/contain no-repeat;}
.card-heading.register{background:url("../imgs/7a.png") center/contain no-repeat;}
.card-heading.forget{background:url("../imgs/forget-1.png") center left/contain no-repeat;}
.card-heading.contact{background:url("../imgs/contact-1.png") center left/contain no-repeat;}
.card-body{display:table-cell;}
footer{color:#fff}
footer a,
footer a:hover{color:#ddd}

/*FORM STYLE*/
.form-group{margin-bottom:30px;}
.form-group label{margin-bottom:10px;position:relative;}
.form-group label sub{color:rgb(252,16,16,0.8);font-size:16px;top:0;}
.form-control{border:none;border-radius:5px;height:55px;padding-left:60px;padding-right:24px;color:#000;font-size:14px;background:#F3F3F3;transition:0.2s;}
textarea.form-control{min-height:250px;padding-top:20px;}
.btn:hover{transform:translateY(-2px);transition:0.2s;}
.form-control:focus{color:#212529;background-color:#f9f9f9;border:1px solid var(--color-brand);outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
button.btn[type="submit"]{background-color:var(--color-brand);font-family:var(--font-heading);text-transform:uppercase;letter-spacing:1px;height:55px;line-height:1;border-radius:5px;width:100%;}
.form-file-with-icon{position:relative;}
.form-file-with-icon > i{left:14px;top:14px;width:30px;height:30px;position:absolute;text-align:center;line-height:30px;border-radius:50%;display:inline-block;pointer-events:none;color:var(--color-brand);background:var(--color-brand-muted);font-size:12px;font-family:"Font Awesome 5 Free";font-weight:700;}
.form-validate-icons span::before{width:30px;height:30px;text-align:center;line-height:30px;border-radius:50%;color:#fff;display:inline-block;font-size:14px;font-family:"Font Awesome 5 Free";font-weight:700;}
.form-validate-icons{top:0;right:14px;height:55px;position:absolute;line-height:55px;}
.form-validate-icons span.error::before{content:"\f00d";color:#f26a6a;background:rgba(242,106,106,0.2);}
.form-validate-icons span.success::before{content:"\f00c";color:#11b981;background:rgba(17,185,129,0.2);}
.form-alert{padding:20px;margin-bottom:30px;border-radius:5px;color:#fff;background:rgba(242,106,106);}
.form-alert-success{color:#fff;background:rgba(17,185,129);padding:20px;margin-bottom:30px;border-radius:5px; display:none;}
.form-group-captchar{position:relative;}
.form-group #txtCaptchaSpan{position:absolute;top:50%;height:55px;padding-left:14px;padding-right:14px;-webkit-transform:translateY(-50%);transform:translateY(-50%);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:var(--color-brand);color:#fff;border-radius:5px 0 0 5px;letter-spacing:2px;}
.form-group #txtInput{padding-left:110px}

/*Custom checkbox, select box*/
.custome-radio .form-check-label,
.custome-checkbox .form-check-label{position:relative;cursor:pointer;}
.custome-checkbox .form-check-label{position:relative;cursor:pointer;color:#687188;padding:0;vertical-align:middle;}
.custome-radio .form-check-input,
.custome-checkbox .form-check-input{display:none;}
.custome-checkbox .form-check-label::before{content:"";border:2px solid #ced4da;height:20px;width:20px;margin:0px 8px 0 0;display:inline-block;vertical-align:middle;border-radius:20px;}
.custome-checkbox .form-check-label span{vertical-align:middle;}
.custome-checkbox input[type="checkbox"]:checked+.form-check-label::after{opacity:1;}
.custome-checkbox input[type="checkbox"]+.form-check-label::after{content:"";width:11px;position:absolute;top:50%;left:5px;opacity:0;height:6px;border-left:2px solid #FF5733;border-bottom:2px solid #FF5733;-moz-transform:translateY(-65%) rotate(-45deg);-webkit-transform:translateY(-65%) rotate(-45deg);transform:translateY(-65%) rotate(-45deg);}
.custome-checkbox input[type="checkbox"]:checked + .form-check-label::before{background-color:var(--color-brand);border-color:var(--color-brand);}
.custom-select-wrapper .select-selected{border-radius:5px;outline:none;border:none;cursor:pointer;-webkit-transition:all 0.25s ease;transition:all 0.25s ease;background-color:#f1f1f1;height:55px;padding-left:24px;font-size:14px;color:var(--color-placeholder);}
.custom-select-wrapper .select-selected:after{color:var(--color-brand);background:var(--color-brand-muted);}
.custom-select-wrapper .select-items .same-as-selected{background-color:var(--color-brand);border-bottom-color:var(--color-brand);color:#FF5733!important;}
.custom-select-wrapper .select-items{border-radius:5px;overflow:hidden;}
.custom-select-wrapper .select-items div::after{color:var(--color-brand);background:var(--color-brand-muted);}

/*RESPONSIVE*/
@media (max-width:767px){
	.card-body{padding:50px 40px!important;}
}

/*
.counter-box {
  margin-top: 10px;
  padding: 0px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
  height: 320px;
}

.bg-card-blue{
  background-color: #00337F;
  color: white;
  border-radius: 5px;
}

.bg-card-blue i{
  color: white !important;
}


.bg-card-orange{
  background-color: #FF692D;
  color: white;
  border-radius: 5px;
}

.bg-card-orange i{
  color: white !important;
}



*/


